<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src={% static 'bundle.js'%}></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <link rel="stylesheet" href="{%static 'css/video_css.css'%}">
</head>
<body>
    <div class="wrap">
        <!--헤더 120px-->
        <header>
            <div class="top">
                <a href="http://192.168.150.70:8000/">
                    <img class="logo" id="logo" src={%static 'logo_change.png'%} ondragstart="return false">
                </a>
                <div class="top_menu">
                    <ul>
                        <li><a href='http://192.168.150.70:8000/hotel/' class="menu_link menu_link1">언택트 숙박</a></li>
                        <li><a href='http://192.168.150.70:8000/tour/' class="menu_link menu_link2">언택트 관광</a></li>
                        <li><a href='http://192.168.150.70:8000/leisure/' class="menu_link menu_link3">언택트 레저</a></li>
                        <li><a href='http://192.168.150.70:8000/display/' class="menu_link menu_link4">언택트 전시</a></li>
                        <li><a href='http://192.168.150.70:8000/show/' class="menu_link menu_link5">언택트 공연</a></li>
                    </ul> 
                </div>
            </div>
        </header>

        <!-- 콘텐트 -->
        <div class="content">
            <div class="main">
                <div class="index">
                    <p>동영상 제목</p>
                </div>
                <div class="player">
                    <div id="player-container" class="player-container"></div>
                </div>
                <button onclick="window.player.videoElement.play()">재생</button>
                <button onclick="window.player.videoElement.pause()">멈춤</button>

    <!-- <audio>
        <source src="../media/audio/1.mp3" type="audio/wav" ></source>
    </audio> -->
        </div>

        <!-- 푸터 -->
        <footer>
            <div class="foot_div">
                <!-- <img class="logo2" src={%static 'logo2.png'%} ondragstart="return false"> -->
                <img class="logo_ai_school" src={%static 'logo_ai_school.png'%} ondragstart="return false">
                <img class="logo2" src={%static 'logo2.png'%} ondragstart="return false">
                <img class="logo_likelion" src={%static 'logo_likelion.png'%} ondragstart="return false">
            </div>
        </footer>
    </div>

<script>
    // a 손올렸을 때 색깔 바꾸기
    $(".menu_link1").hover(function(){
        $(".menu_link1").css("color", "rgb(71, 65, 160)");
        }, function(){
        $(".menu_link1").css("color", "black");
    });
    $(".menu_link2").hover(function(){
        $(".menu_link2").css("color", "rgb(71, 65, 160)");
        }, function(){
        $(".menu_link2").css("color", "black");
    });
    $(".menu_link3").hover(function(){
        $(".menu_link3").css("color", "rgb(71, 65, 160)");
        }, function(){
        $(".menu_link3").css("color", "black");
    });
    $(".menu_link4").hover(function(){
        $(".menu_link4").css("color", "rgb(71, 65, 160)");
        }, function(){
        $(".menu_link4").css("color", "black");
    });
    $(".menu_link5").hover(function(){
        $(".menu_link5").css("color", "rgb(71, 65, 160)");
        }, function(){
        $(".menu_link5").css("color", "black");
    });

    // vr로 만들어주는 js 코드
    window.player = window.createSimple360Player(document.getElementById("player-container"));
    window.player.init();

    window.player.videoElement.src = "/media/tour/Tour - amsterdam (Netherlands).mp4"; //여기 바꾸면 됩니다 media파일에 한글 아닌 이름으로 넣으세요
    window.player.start();

    
</script>

</body>
</html>