<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js" ></script>
    <link rel="stylesheet" href="{%static 'css/register_css.css'%}">
</head>

<body>
    <div class="register_form">
        <p class="register_logo">회원가입</p>
        <form class="register-form">
        <!--  아이디 비밀번호  -->
            <div class="register-check1">
                <span>이름</span>
                <input type="text" placeholder="이름를 입력하세요" required class="name_box"><br>
                <span>아이디</span>
                <input type="text" placeholder="아이디를 입력하세요" required class="id_box"><br>
                <span>비밀번호</span>
                <input type="password" placeholder="비밀번호를 입력하세요" required class="password_box"><br>
                <span>비밀번호확인</span>
                <input type="password" placeholder="비밀번호를 확인해주세요" required class="password_check_box"><br>
                <span>이메일</span>
                <input type="text" placeholder="이메일을 입력하세요" required class="email_box"><br>
            </div>
        <!-- 로그인 박스 -->
            <input type='submit' class="register-button" value="회원가입"></input> <!--버튼타입만들기-->
        </form>
    </div>
</body>
</html>