<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
<meta charset="UTF-8">
<script src={% static 'bundle.js'%}></script>
<title>CanalPlus - Player HTML5</title>
</head>
<body>

<div>
  <div>
    <div id="player-container" style="width: 1140px; height: 660px">
    </div>
    <button onclick="window.player.videoElement.play();">play</button> <!-- audio.play(); -->
    <button onclick="window.player.videoElement.pause()">pause</button>
    <button onclick="window.player.destroy()">destroy</button>

    <!-- <audio>
        <source src="../media/audio/1.mp3" type="audio/wav" ></source>
    </audio> -->
</div>

<script>
  window.player = window.createSimple360Player(document.getElementById("player-container"));
  window.player.init();

  window.player.videoElement.src = "../media/1.mp4"; //여기 바꾸면 됩니다 media파일에 한글 아닌 이름으로 넣으세요
  window.player.start();

//   var audio = new Audio('../media/audio/1.mp3');
</script>
</body>
</html>